SECRET_KEY=828ufhv93rv9898vh9r8hvb9v88v7cgxqnw988cneoincqicvnr9qoefh498qcqucdquiweh3uihf8h4bnbgvkwnneriuvoqihj348t959h5bgiuvwninuevnoqicr3iogni5u3qogbvcqkejfo
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=auth_db
